<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>

<style>
  .report-inner-table tbody tr td {
    border-bottom: 0px !important;
  }
  .report-inner-table tbody tr:last-child td {
    border-bottom: 1px solid #ececec;
  }
</style>

<!-- This is a section -->
<div class="section">
  <!-- Section summary -->
  <div class="section-summary">
    <h1>Form configuration</h1>
    <p>Here you can configure the snippet that should be displayed to the customers in the product description page</p>
  </div>
  <!-- Section content with generic quantity of rows-->
  <div class="section-content">
    <form class="refer_a_friend_form" id="refer_a_friend_form">
      <%
         timestamp = Time.now.getutc.to_i
         params = "shop=#{@shop.myshopify_domain}&timestamp=#{timestamp}"
         signature = RequestValidation.create_signature(params)
      %>

      <input name="myshopify_domain" value="<%= @shop.myshopify_domain %>" type="hidden">
      <input name="timestamp" value="<%= timestamp %>" type="hidden">
      <input name="signature" value="<%= signature %>" type="hidden">

      <!-- A section row with generic quantity of cells -->
      <div class="section-row">
        <div class="section-cell">
          <div class="cell-container">
            <div class="cell-column">
              <label>General</label>
              <div class="cell-container">
                <div class="cell-column">
                  <label>Width of fields</label>
                  <input id="refer_a_friend_style_width" name="refer_a_friend_style_width" type="text" value="<%= @refer_a_friend_form_style.input_width %>" style="max-width:100px;">
                </div>
                <div class="cell-column">
                  <label>Color of the text</label>
                  <input id="refer_a_friend_style_text_color" name="refer_a_friend_style_text_color" type="color" value="<%= @refer_a_friend_form_style.text_color %>" style="max-width:100px;">
                </div>
                <div class="cell-column">
                  <label>Background color</label>
                  <input id="refer_a_friend_style_background_color" name="refer_a_friend_style_background_color" type="color" value="<%= @refer_a_friend_form_style.background_color %>" style="max-width:100px;">
                </div>
                <div class="cell-column">
                  <label>Button color</label>
                  <input id="refer_a_friend_style_button_color" name="refer_a_friend_style_button_color" type="color" value="<%= @refer_a_friend_form_style.button_color %>" style="max-width:100px;">
                </div>
              </div>
              <br/>
              <label>Borders</label>
              <div class="cell-container">
                <div class="cell-column">
                  <label>Color</label>
                  <input id="refer_a_friend_style_border_color" name="refer_a_friend_style_border_color" type="color" value="<%= @refer_a_friend_form_style.border_color %>" style="max-width:100px;">
                </div>
                <div class="cell-column">
                  <label>Width</label>
                  <input id="refer_a_friend_style_border_width" name="refer_a_friend_style_border_width" type="text" value="<%= @refer_a_friend_form_style.border_width %>" style="max-width:100px;">
                </div>
                <div class="cell-column">
                </div>
                <div class="cell-column">
                </div>
              </div>
              <br/>
              <label>Font</label>
              <div class="cell-container">
                <div class="cell-column">
                  <label>Family</label>
                  <input id="refer_a_friend_style_font_family" name="refer_a_friend_style_font_family" type="text" value="<%= @refer_a_friend_form_style.font_family %>" style="max-width:300px;">
                </div>
                <div class="cell-column">
                  <label>Size</label>
                  <input id="refer_a_friend_style_font_size" name="refer_a_friend_style_font_size" type="text" value="<%= @refer_a_friend_form_style.font_size %>" style="max-width:100px;">
                </div>
                <div class="cell-column">
                  <label>Width</label>
                  <input id="refer_a_friend_style_font_width" name="refer_a_friend_style_font_width" type="text" value="<%= @refer_a_friend_form_style.font_width %>" style="max-width:100px;">
                </div>
                <div class="cell-column">
                </div>
              </div>
              <br/>
              <input type="button" id="saveStyle" class="btn default" value="Save">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- This is a section -->
<div class="section">
  <!-- Section summary -->
  <div class="section-summary">
    <h1>Snippet code</h1>
    <p>Here you have a link to download the code of the snippet you should add into your shop's theme and reference into the products page.</p>
    <p>You can see a preview of the form. The changes you made in the "Form configuration" section are reflected in this preview.</p>
  </div>
  <!-- Section content with generic quantity of rows-->
  <div class="section-content">
    <!-- A section row with generic quantity of cells -->
    <div class="section-row">
      <div class="section-cell">
        <div class="cell-container">
          <div class="cell-column">
            <div class="container to-code">
              <label>Download the code of refer_a_friend snippet</label>
              <%
                 # TODO: get proxy subpath from app's configuration page or ShopifyAPI call ( if they add one :P )
                 #
                 url = "https://#{@shop.myshopify_domain}/apps/proxy?p=refer_a_friend_snippet&myshopify_domain=#{@shop.myshopify_domain}" %>
              <%= link_to 'Download refer-a-friend snippet', url %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- A section row with generic quantity of cells -->
    <div class="section-row">
      <div class="section-cell">
        <div class="cell-container">
          <div class="cell-column">
            <div class="container to-code">
              <form class="refer_a_friend_form" id="refer_a_friend_form" method="post">
                <label id="refer_a_friend_email_label" for="refer_a_friend_email" style="<%= @refer_a_friend_form_style.email_label_style %>">Your friend's email address</label>
                <input id="refer_a_friend_email" name="message[email]" type="text" style="<%= @refer_a_friend_form_style.email_style %>"/><br />
                <label id="refer_a_friend_description_label" for="refer_a_friend_description" style="<%= @refer_a_friend_form_style.message_label_style %>">Description</label>
                <textarea id="refer_a_friend_description" name="message[description]" type="text" style="<%= @refer_a_friend_form_style.message_style %>">
                </textarea><br />
                <input id="refer_a_friend_submit" name="commit" type="submit" value="Send email" style="<%= @refer_a_friend_form_style.submit_style %>"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- This is a section -->
<div class="section">
  <!-- Section summary -->
  <div class="section-summary">
    <h1>Emails sent</h1>
    <p>In this section you have three reports:</p>
    <h2>Customer profile which list customer who has refer a product with the following information:</h2>
    <p>
    <ul>
      <li>Customer's name and email address</li>
      <li>Amount of emails sent</li>
      <li>If you click en the last column of each row you can see a detail containing:
        <ul>
          <li>The friend email</li>
          <li>The product that was recommended</li>
          <li>Date when email was sent</li>
        </ul>
      </li>
    </ul>
    </p>
    <h2>List of sent emails:</h2>
    <p>
    <ul>
      <li>The product that was recommended</li>
      <li>The customer that recommended</li>
      <li>Friend that received the recommendation</li>
    </ul>
    </p>
    <h2>List of sent emails by product:</h2>
    <p>
    <ul>
      <li>The product that was recommended</li>
      <li>Amount of emails</li>
    </ul>
    </p>
  </div>
  <!-- Section content with generic quantity of rows-->
  <div class="section-content">
    <div class="section-row">
      <div class="section-cell">
        <div class="cell-container">
          <div class="cell-column">
            <h3>Customer profile</h3>
            <table>
              <thead>
              <th>Customer</th>
              <th>Email</th>
              <th>Emails sent</th>
              <th></th>
              </thead>
              <tbody>
              <%
                 last_customer = nil
                 @customer_profiles.each do |email|
                   if last_customer != email['customer_email']

              %>
                  <% if last_customer %>
                    </tbody>
                    </table>
                    </td>
                    </tr>
                  <% end %>

                  <tr>
                    <td><%= email['customer_name'] %></td>
                    <td><%= email['customer_email'] %></td>
                    <td><%= email['emails_sent'] %></td>
                    <td><a href="#" class="expand_row_button">[+]</a></td>
                  </tr>
                  <tr style="display:none">
                    <td colspan="3">
                      <table class="report-inner-table">
                        <thead>
                        <th>Friend email</th>
                        <th>Product</th>
                        <th>Date</th>
                        </thead>
                        <tbody>
                <%
                     last_customer = email['customer_email']
                   end %>

                <tr>
                  <td><%= email['friend_email'] %></td>
                  <td>
                    <a href='<%= email['product_absolute_url'].html_safe %>' target="_blank"> <%= email['product_title'] %> </a>
                  </td>
                  <td><%= email['created_at'] %></td>
                </tr>

              <% end %>

              <% if last_customer %>
                </tbody>
                </table>
                </td>
                </tr>
              <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="section-row">
      <div class="section-cell">
        <div class="cell-container">
          <div class="cell-column">
            <h3>Emails</h3>
            <table>
              <thead>
              <th>Customer</th>
              <th>Product</th>
              <th>Friend</th>
              <th>Sent</th>
              </thead>
              <tbody>
              <% @emails.each do |email| %>
                <tr>
                  <td><%= email.customer_name %></td>
                  <td>
                    <a href='<%= email.product_absolute_url.html_safe %>' target="_blank"> <%= email.product_title %> </a>
                  </td>
                  <td><%= email.friend_email %></td>
                  <td><%= email.created_at.strftime("%Y-%m-%d") %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- A section row with generic quantity of cells -->
    <div class="section-row">
      <div class="section-cell">
        <div class="cell-container">
          <div class="cell-column">
            <h3>Emails by product</h3>
            <table>
              <thead>
              <th>Product</th>
              <th>Emails sent</th>
              </thead>
              <tbody>
              <% @emails_by_products.each do |email| %>
                <tr>
                  <td>
                    <a href='<%= email.product_absolute_url.html_safe %>' target="_blank"> <%= email.product_title %> </a>
                  </td>
                  <td><%= email.count %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  (function() {

    var saveButton = $('#saveStyle');

    var width$ = $("#refer_a_friend_style_width");
    var textColor$ = $("#refer_a_friend_style_text_color");
    var backgroundColor$ = $("#refer_a_friend_style_background_color");
    var borderColor$ = $("#refer_a_friend_style_border_color");
    var borderWidth$ = $("#refer_a_friend_style_border_width");
    var buttonColor$ = $("#refer_a_friend_style_button_color");
    var fontFamily$ = $("#refer_a_friend_style_font_family");
    var fontSize$ = $("#refer_a_friend_style_font_size");
    var fontWidth$ = $("#refer_a_friend_style_font_width");

    var applyStyle = function(save) {

      return function(e) {

        try {

          if(checkForm()) {

            var width = width$.val();
            var textColor = textColor$.val();
            var backgroundColor = backgroundColor$.val();
            var borderColor = borderColor$.val();
            var borderWidth = borderWidth$.val();
            var buttonColor = buttonColor$.val();
            var fontFamily = fontFamily$.val();
            var fontSize = fontSize$.val();
            var fontWidth = fontWidth$.val();

            var setInputStyle = function(input) {
              input
                      .css("width", width)
                      .css("color", textColor)
                      .css("background-color", backgroundColor)
                      .css("border-color", borderColor)
                      .css("border-width", borderWidth)
                      .css("font-family", fontFamily)
                      .css("font-size", fontSize)
                      .css("font-weight", fontWidth);
            };

            var setLabelStyle = function(input) {
              input
                      .css("color", textColor)
                      .css("font-family", fontFamily)
                      .css("font-size", fontSize)
                      .css("font-weight", fontWidth);
            };

            setInputStyle($("#refer_a_friend_email"));
            setLabelStyle($("#refer_a_friend_email_label"));
            setInputStyle($("#refer_a_friend_description"));
            setLabelStyle($("#refer_a_friend_description_label"));
            $("#refer_a_friend_submit")
                    .css("color", textColor)
                    .css("background-color", buttonColor)
                    .css("font-family", fontFamily)
                    .css("font-size", fontSize)
                    .css("font-weight", fontWidth);

            if(save) {
              var valuesToSubmit = $('#refer_a_friend_form').serialize();
              $.ajax({
                type: "POST",
                url: "/refer_a_friend_form_style",
                data: valuesToSubmit,
                dataType: "JSON",
                success:function(data) {
                  ShopifyApp.flashNotice("Your changes to the form's style has been successfully saved!");
                },
                error:function(xhr, desc, err) {
                  ShopifyApp.flashError("Your changes to the form's style couldn't be saved!");
                }
              });
            }
          }
          else {
            ShopifyApp.flashError("Please insert a valid email!");
          }
        }
        catch(ignore) {};
      };

    };

    var checkForm = function() {
      // TODO: add validation code
      return true;
    };

    saveButton.click(applyStyle(true));

    width$.change(applyStyle(false));
    textColor$.change(applyStyle(false));
    backgroundColor$.change(applyStyle(false));
    borderColor$.change(applyStyle(false));
    borderWidth$.change(applyStyle(false));
    buttonColor$.change(applyStyle(false));
    fontFamily$.change(applyStyle(false));
    fontSize$.change(applyStyle(false));
    fontWidth$.change(applyStyle(false));

    $('.expand_row_button').click(function(e) {
      var state = e.target.text === "[+]";
      var index = $(e.target.parentElement.parentElement).index();
      var tbody = $(e.target.parentElement.parentElement.parentElement);
      var details = $(tbody.children()[index+1]);
      if (state) {
        details.show();
        e.target.text = "[-]";
      }
      else {
        details.hide();
        e.target.text = "[+]";
      }

      e.preventDefault();
    });

    //$('table tr:not(.header)').hide();

  }());
</script>