Hi <%= @friend_name %>, <%= @email.customer_name %> recommends you a product.

<%= @email.product_title %>
<%= @email.product_absolute_url %>

<%= strip_tags(@email.product_description) %>
Price <%= monetize_cents(@email.product_price) %>