<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @friend_name %>, <%= @email.customer_name %> recommends you a product.</h1>

<% if @email.message %>
<p>
  <%= @email.message %>
</p>
<% end %>
<p>
  <%= link_to @email.product_title, @email.product_absolute_url %>
</p>
<p>
<%= @email.product_description.html_safe %>
</p>
<p>
Price <%= monetize_cents(@email.product_price) %>
</p>

<p>
<%= @email.shopify_domain %>  
</p>
</body>
</html>